<div class="jumbotron text-center">
  <h1>Mean Authentication App</h1>
  <p class="lead">Welcome to our custome Mean Authentication appliation built from scratch. </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.JS/ Express js server using mongoose to query data from mongodb</p>
  </div>

  <div class="col-md-4">
      <h3>Angular-Cli</h3>
      <p>To generate components, services and more</p>
    </div>

    <div class="col-md-4">
        <h3>JWT TOkens</h3>
        <p>Authentication using json web tokens, login and store data</p>
      </div>
</div>